$max-width : 1200px;
$border-color : #CCC;
$text-color: #53575A;
$dark-color: #282D31;
$header-height: 4rem;

$breakpoints : (
    l: 960px
);

// Paleta de colores:
:root {
    --first-color: #007BDF;
    --color-border: #DFE0E0;
    --color-alert: #FF3C32;
}

// Variables de apilamiento (z-index)

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

// Variables de tipografia

:root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;

    --body-font-size: .9rem;
    --small-font-size: .75rem;

    @include from(l){
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.5rem;
        --body-font-size: 1rem;
        --small-font-size: .8rem;
        
    }
}
