$max-width : 1200px;
$border-color : #CCC;
$text-color: #53575A;
$dark-color: #282D31;
$header-height: 4rem;

$breakpoints : (
    l: 960px
);

// Paleta de colores:
:root {
    --first-color: #007BDF;
}
