*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: lato, sans-serif; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.l-container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  margin-right: auto;
  margin-left: auto; }

.main-header {
  height: 4rem;
  border-bottom: 1px solid #CCC; }

.main-header__block {
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.main-logo {
  height: 2rem; }

.main-menu {
  /* RESETEO DEL MENU */
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  /* FIN DEL RESETEO DEL MENU */ }
  @media screen and (min-width: 960px) {
    .main-menu {
      display: flex; } }

.main-menu__item {
  padding: 1rem; }

.main-menu__link {
  color: #CCC;
  margin-left: 1rem; }
  @media screen and (min-width: 960px) {
    .main-menu__link {
      color: #53575A; } }

.main-nav {
  position: fixed;
  height: calc(100vh - 4rem);
  width: 80vw;
  background: #282D31;
  top: 4rem;
  right: -80vw;
  transition: right .7s;
  padding-top: 1rem; }
  @media screen and (min-width: 960px) {
    .main-nav {
      position: static;
      background: transparent;
      padding-top: 0;
      height: auto;
      width: auto; } }
  .main-nav.show {
    right: 0; }

.main-menu-toggle {
  width: 2.2rem;
  height: 1.6rem;
  background: linear-gradient(#282D31 20%, transparent 20%, transparent 40%, #282D31 40%, #282D31 60%, transparent 60%, transparent 80%, #282D31 80%);
  cursor: pointer; }
  @media screen and (min-width: 960px) {
    .main-menu-toggle {
      display: none; } }

.main-banner {
  padding: 5rem 1rem 6rem;
  background: blue;
  color: #fff;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%); }
  .main-banner__logo {
    height: 5rem;
    display: block;
    margin: 0 auto .5rem; }
