.main-banner {
    padding: 5rem 1rem 6rem;
    background: blue;
    color: #fff;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);

    &__logo {
        height: 5rem;
        display: block;;
        margin: 0 auto .5rem;
    }
}